// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bodyindex{
  background: #FAFAFA;
  width: 100%;
  max-width: 100%;
  display: flex;
  .bodyindexsecond{

  }
  .content{
    position: relative;
    float: left;
    margin-bottom: 20px;
    margin-top: 60px;
    width: 65%;
    //max-width: 975px;
    background: white;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    .textcontent{
      width: 100%;
      max-width: 100%;
      background: white;
      display: flex;
    .useravatar{
      margin-left: 2%;
      margin: 10px 0 0 10px;
      border-radius: 50%;
      max-width: 100%;
    }
    }
  }
  .photocontent{
    margin-top: 10px;
    width: 100%;
    height: auto;
  }
}

.buttonlike{
  margin-top: 3px;
  background: none;
  border: none;
  &:focus{
    outline: none;
  }
}
.description{
  margin-left: 5px;
}
.formcomment{
  margin-bottom: 10px;
  &:focus{
    outline: none;
  }
}
#deletecoment{
  float: right;
  margin-right: 5%;
  color: silver;

}
.infous{
  position: absolute;
  float: right;
  top: 130px;
  right: 0%;
  width: 295px;
  max-width: 100%;
}
.infouserindex{
    position: relative;
    top: 0px;
  .useravatarinfo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .linktouser{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
.underinfoindex{
  position: relative;
  top: 30px;
  background: white;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 5px;
  .linktouser{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
.maincontent{
  position: relative;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
    background: white;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    .textcontent{
      width: 100%;
      background: white;
      display: inline-block;
    .useravatar{
      margin-left: 2%;
      margin-top: 10px;
      border-radius: 50%;
    }
  }
}

//ADD NEW PHOTO
.addnewphoto{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  background: white;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding-top: 5%;
  padding-bottom: 5%;
  h1{
    margin-bottom: 20px;
  }
}
.uploadnew{
  width: 80%;
  height: 40px;
  padding-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding-left: 2%;
  background: #FAFAFA;
}
.formnew{
  width: 80%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding-left: 2%;
  background: #FAFAFA;
}
.buttonnew{
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  height: 40px;
  background: #3391E5;
  color: white;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin-bottom: 5%;
}

@media only screen and (min-width: 220px) and (max-width: 980px) {
  .bodyindexsecond{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .content{
    width: 82%;
    max-width: 100%;
    margin: 0 auto;
  }
  .infous{
    display: none;

  }
}
@media only screen and (max-width: 650px){
  .bodyindexsecond{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .content{
    width: 87%;
    max-width: 100%;
    margin: 0 auto;
  }
  .infous{
    display: none;

  }
}
@media only screen and (max-width: 480px){
  .bodyindexsecond{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .content{
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
  }
  .infous{
    display: none;

  }
}
