// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bodyindex{
  background: #FAFAFA;
  .content{
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 11%;
    width: 51%;
    background: white;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    .textcontent{
      width: 100%;
      background: white;
      display: inline-block;
    .useravatar{
      margin-left: 2%;
      margin-top: 10px;
      border-radius: 50%;
    }
    }
  }
  .photocontent{
    margin-top: 10px;
    width: 100%;
    height: auto;
  }
}

.buttonlike{
  margin-top: 3px;
  background: none;
  border: none;
  &:focus{
    outline: none;
  }
}
.description{
  margin-left: 5px;
}
.formcomment{
  margin-bottom: 10px;
  &:focus{
    outline: none;
  }
}
#deletecoment{
  float: right;
  margin-right: 5%;
  color: silver;

}

.infouserindex{
    position: fixed;
    top: 130px;
    right: 25%;
  .useravatarinfo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .linktouser{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
.underinfoindex{
  position: fixed;
  top: 210px;
  right: 11%;
  width: 295px;
  background: white;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 5px;
  .linktouser{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
.maincontent{
  margin-left: 15%;
  margin-right: 15%;
}

//ADD NEW PHOTO
.addnewphoto{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  background: white;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding-top: 5%;
  padding-bottom: 5%;
  h1{
    margin-bottom: 20px;
  }
}
.uploadnew{
  width: 80%;
  height: 40px;
  padding-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding-left: 2%;
  background: #FAFAFA;
}
.formnew{
  width: 80%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding-left: 2%;
  background: #FAFAFA;
}
.buttonnew{
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  height: 40px;
  background: #3391E5;
  color: white;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin-bottom: 5%;
}
